<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p id="sample"></p>
    <p id="test"></p>
    <script>

// simple addtion without functions
        let x = 3;
        let y = 5;
        let z =x+y;
// multiplication using functions
        function myFunction(p1,p2){
            return p1*p2
        }
        let result =myFunction(4,3);

    document.getElementById("sample").innerHTML="The value of X + Y is:" +z
    document.getElementById("test").innerHTML="The result is "+result;

    </script>

</body>
</html>